<mon-header></mon-header>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<form ng-submit="connecter()">
				<div class="form-group">
					<label for="userNameField">Utilisateur</label>
					<input type="text" id="userNameField" class="form-control" ng-model="user.username" placeholder="Utilisateur" required="true" />
				</div>
				<div class="form-group">
					<label for="passwordField">Mot de passe</label>
					<input type="password" id="passwordField" class="form-control" ng-model="user.password" placeholder="Mot de passe" required="true" />
				</div>
				<input type="submit" value="Se connecter" class="btn btn-primary btn-block" />
			</form>
			<p>Administrateur : admin / admin</p>
			<p>Utilisateur : user/user</p>
		</div>
	</div>
</div>
<mon-footer></mon-footer>


