<header>
	<h1>Grey Jays Evaluation</h1>
</header>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<form ng-submit="connecter()">
				<input type="text" ng-model="user.username" placeholder="Utilisateur" required="true" />
				<input type="password" ng-model="user.password" placeholder="Mot de passe" required="true" />
				<input type="submit" value="Se connecter" />
			</form>
			<p>Administrateur : admin / admin</p>
			<p>Utilisateur : user/user</p>
		</div>
	</div>
</div>
<mon-footer/>


