<mon-header></mon-header>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<uib-tabset active="active">
				<uib-tab index="0" heading="Positions > Actions > Performances">
					<br>
					<coach-position items="donneesService.dataSets.positionListData" le-service="positionService" filter-property="positionIds"></coach-position>
					<coach-action items="donneesService.dataSets.actionListData" le-service="actionService" filter-property="actionIds"></coach-action>
					<coach-performance items="donneesService.dataSets.performanceListData" le-service="performanceService" filter-property="performanceIds"></coach-performance>
				</uib-tab>
				<uib-tab index="1" heading="Joueurs > Résultats">
					<br>
					<coach-joueur items="donneesService.dataSets.joueurListData" le-service="joueurService" filter-property="joueurIds"></coach-joueur>
					<detail-joueur qui="donneesService.dataSets.joueurListData"></detail-joueur>
				</uib-tab>
				<uib-tab index="2" heading="Statistiques">
					<br>
					<detail-club mes-donnees="donneesServiceForStat.dataSets"></detail-club>
				</uib-tab>
			</uib-tabset>
		</div>
	</div>
</div>
<mon-footer></mon-footer>

