<div class="container-fluid">
	<h2>Résultats</h2>
	<form novalidate class="form-inline">Filtrer sur l'action <select class="form-control" size="1" ng-model="actionSel"><option value="-1">Sans filtre</option><option ng-repeat="itemA in allActions" value="{{itemA.id}}">{{itemA.libelle}}</option></select>
	</form>
	<div class="row">
		<div class="col-sm-8">
			<table class="table table-hover table-condensed table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th ng-if="actionSel=='-1'">Action</th>
						<th>Date</th>
						<th>Performance</th>
						<th>Note</th>
						<th>Contexte</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in pageItems()">
						<td><a href="" ng-click="afficherModification(item)" title="Modifier ce résultat">{{item.id}}</a></td>
						<td ng-if="joueurSel=='-1'">{{item.joueur.prenom}} {{item.joueur.nom}}</td>
						<td>Le {{item.date_realisation | formaterDate : 'JJ/MM/AAAA à HHhMM'}}</td>
						<td>{{item.performance}}</td>
						<td>
							<div ng-if="item.maNote=='???'"><span style="color:red">{{item.maNote}}</span></div>
							<div ng-if="item.maNote!='???'">
								<span class="glyphicon glyphicon-star stars" ng-repeat="star in item.maNote"></span>
							</div>
						</td>
						<td>{{item.inmatch | formaterTexte : 'inmatch'}}</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<select ng-model="itemsPerPage" size="1" class="form-control" style="margin:20px 0" convert-to-number>
				<option value="10">10 résultats par page</option>
				<option value="20">20 résultats par page</option>
				<option value="50">50 résultats par page</option>
			</select>
		</div>
		<div class="col-sm-8">
			<ul uib-pagination ng-show="count>itemsPerPage" total-items="count" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" first-text="Première" previous-text="Précédente" next-text="Suivante" last-text="Dernière"></ul>
		</div>
	</div>
</div>
<hr style="margin-bottom: 20px"/>