<div class="container-fluid">
	<h2><span class="glyphicon glyphicon-tasks"></span> Résultats <a ng-click="afficherAjout()" class="btn btn-default" title="Ajouter un résultat"><span class="glyphicon glyphicon-plus"></span></a></h2>
	<div class="row">
		<div ng-show="affichage.liste">
			<table class="table table-bordered table-striped table-hover">
				<tr>
					<th>Id</th>
					<th>Action</th>
					<th>Joueur</th>
					<th>Performance</th>
					<th>Réalisé le</th>
					<th>Contexte</th>
					<th>Dates</th>
					<th>Actions</th>
				</tr>
				<tr ng-repeat="item in items">
					<td>#{{item.id}}</td>
					<td>{{item.action.libelle}}</td>
					<td>{{item.joueur.prenom}} {{item.joueur.nom}}</td>
					<td>{{item.performance}}</td>
					<td>{{item.date_realisation | formaterDate : 'JJ/MM/AAAA à HHhMM'}}</td>
					<td>{{item.inmatch | formaterTexte : 'inmatch'}}</td>
					<td>{{item.date_creation | formaterDate : 'JJ/MM/AAAA à HHhMM'}}<br/>{{item.date_modification | formaterDate : 'JJ/MM/AAAA à HHhMM'}}</td>
					<td>
						<a class="btn btn-default" ng-click="afficherModification(item)" title="Modifier ce résultat"><span class="glyphicon glyphicon-edit"></span></a>
						<a class="btn btn-primary" ng-click="effacer(item)" title="Supprimer ce résultat"><span class="glyphicon glyphicon-trash"></span></a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div ng-show="affichage.add||affichage.upd">
		<div class="panel panel-default">
				<div class="panel-heading">
					<span ng-if="affichage.add">Ajouter</span>
				<span ng-if="affichage.upd">Modifier</span> un résultat 
				<small class="requis">(* : saisie requise)</small>
			</div>
			<div class="panel-body">
				<form name="monFormResultat" ng-submit="enregistrer(monFormResultat.$valid)" novalidate>
				<input type="hidden" ng-model="itemAdd.id" />
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="form-group" ng-class="{ 'has-error' : !monFormResultat.actionList.$modelValue && alertesResultat}">
								<label for="actionList" class="control-label">Action *</label>
								<select id="actionList" name="actionList" class="form-control" size="1" ng-model="itemAdd.id_action" convert-to-number required="true">
									<option value="">Choisir une action...</option>
									<option ng-repeat="itemA in allActions" value="{{itemA.id}}">{{itemA.libelle}}</option>	
								</select>
								<div ng-if="!monFormResultat.actionList.$modelValue && alertesResultat" class="alert alert-warning" role="alert">
									<p>Aucune action n'est sélectionnée.</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error' : !monFormResultat.joueurList.$modelValue && alertesResultat}">
								<label for="joueurList" class="control-label">Joueur *</label>
								<select id="joueurList" name="joueurList" class="form-control" size="1" ng-model="itemAdd.id_joueur" convert-to-number required="true">
									<option value="">Choisir un joueur...</option>
									<option ng-repeat="itemJ in allJoueurs" value="{{itemJ.id}}">{{itemJ.prenom}} {{itemJ.nom}}</option>
								</select>
								<div ng-if="!monFormResultat.joueurList.$modelValue && alertesResultat" class="alert alert-warning" role="alert">
									<p>Aucun joueur n'est sélectionné.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-group" ng-class="{ 'has-error' : monFormResultat.dateRealisationField.$invalid && alertesResultat}">
								<label for="dateRealisationField" class="control-label">Date réalisation *</label>
								<input id="dateRealisationField" name="dateRealisationField" class="form-control" type="datetime-local" ng-model="itemAdd.date_realisation" required="true" />
								<div ng-if="monFormResultat.dateRealisationField.$invalid && alertesResultat" ng-messages="monFormResultat.dateRealisationField.$error" class="alert alert-warning" role="alert">
									<p ng-message="required">La date de réalisation est obligatoire.</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error' : monFormResultat.performanceField.$invalid && alertesResultat}">
								<label for="performanceField" class="control-label">Performance *</label>
								<input id="performanceField" name="performanceField" class="form-control" type="text" ng-model="itemAdd.performance" required="true" />
								<div ng-if="monFormResultat.performanceField.$invalid && alertesResultat" ng-messages="monFormResultat.performanceField.$error" class="alert alert-warning" role="alert">
									<p ng-message="required">La performance est obligatoire.</p>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Contexte *</label><br>
								<label for="inmatchField1" class="radio-inline">
								<input id="inmatchField1" name="inmatchField" type="radio" ng-model="itemAdd.inmatch" value="0" />Entraînement
								</label>
								<label for="inmatchField2" class="radio-inline">
								<input id="inmatchField2" name="inmatchField" type="radio" ng-model="itemAdd.inmatch" value="1" />Match
								</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<div class="btn-group btn-group-justified" role="group" aria-label="...">
								<div class="btn-group" role="group">
									<button type="submit" class="btn btn-primary">Enregistrer</button>
								</div>
								<div class="btn-group" role="group">
									<button type="button" ng-click="annuler()" class="btn btn-default">Annuler</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
<hr style="margin-bottom: 20px"/>