<div class="panel panel-default">
	<div class="panel-heading"><span class="glyphicon glyphicon-tasks"></span> Résultats <span class="badge">{{items.length}}</div>
	<div class="panel-body">
		<table class="table table-hover table-condensed table-striped">
			<thead>
				<tr>
					<th ng-if="!joueurSelected">Joueur</th>
					<th ng-if="!actionSelected">Action</th>
					<th ng-if="!positionSelected">Position</th>
					<th>Date</th>
					<th>Performance</th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pageItems()">
					<td ng-if="!joueurSelected">{{item.joueur.prenom}} {{item.joueur.nom}}</td>
					<td ng-if="!actionSelected">{{item.action.libelle}}</td>
					<td ng-if="!positionSelected">{{item.action.position.description}}</td>
					<td>{{item.date_realisation | formaterDate : 'JJ/MM/AAAA à HHhMM'}}</td>
					<td>{{item.performance}}</td>
					<td>
						{{item.maNote}}
						<div ng-if="item.maNote=='???'"><span style="color:red">{{item.maNote}}</span></div>
						<div ng-if="item.maNote!='???'">
							<span class="glyphicon glyphicon-star stars" ng-repeat="star in item.maNote"></span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-sm-4">
				<select ng-model="itemsPerPage" size="1" class="form-control" style="margin:20px 0" convert-to-number>
					<option value="10">10 résultats par page</option>
					<option value="20">20 résultats par page</option>
					<option value="50">50 résultats par page</option>
				</select>
			</div>
			<div class="col-sm-8">
				<ul uib-pagination ng-show="count>itemsPerPage" total-items="count" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" first-text="Première" previous-text="Précédente" next-text="Suivante" last-text="Dernière"></ul>
			</div>
		</div>
	</div>
</div>