<div class="container-fluid">
	<h2><span class="glyphicon glyphicon-scale"></span> Performances <a ng-click="afficherAjout()" class="btn btn-default" title="Ajouter une performance"><span class="glyphicon glyphicon-plus"></span></a></h2>
	<div class="row">
		<div ng-show="affichage.liste">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-3">
						<select class="form-control" size="1" ng-model="actionSel" style="margin:20px 0" convert-to-number><option value="-1">Filtrer sur l'action</option><option ng-repeat="itemA in allActions | orderBy: 'libelle'" value="{{itemA.id}}">{{itemA.libelle}}</option></select>
					</div>
					<div class="col-sm-3">
						<select ng-model="itemsPerPage" size="1" class="form-control" style="margin:20px 0" convert-to-number>
							<option value="10">10 actions par page</option>
							<option value="20">20 actions par page</option>
							<option value="50">50 actions par page</option>
						</select>
					</div>
					<div class="col-sm-6">
						<ul uib-pagination ng-show="count>itemsPerPage" total-items="count" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" first-text="Première" previous-text="Précédente" next-text="Suivante" last-text="Dernière"></ul>
					</div>
				</div>
			</div>			
			<div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in pageItems()">
				<div class="panel panel-default">
					<div class="panel-heading"><strong>{{item.libelle}}</strong></div>
					<div class="panel-body">
						<p><span class="note">{{item.note}}</span> ({{item.action.libelle}})</p>
						<div style="float: right;">
							<a class="btn btn-default" ng-click="afficherModification(item)" title="Modifier cette performance"><span class="glyphicon glyphicon-edit"></span></a>
							<a class="btn btn-primary" ng-click="effacer(item)" title="Supprimer cette performance"><span class="glyphicon glyphicon-trash"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="affichage.add||affichage.upd">
			<div class="panel panel-default">
  				<div class="panel-heading">
  					<span ng-if="affichage.add">Ajouter</span>
					<span ng-if="affichage.upd">Modifier</span> une mesure de performance 
					<small class="requis">(* : saisie requise)</small>
				</div>
				<div class="panel-body">
					<form name="monFormPerformance" ng-submit="enregistrer(monFormPerformance.$valid)" novalidate>
					<input type="hidden" ng-model="itemAdd.id" />
					<div class="container-fluid">
						<div class="row">
							<div>
								<div class="form-group" ng-class="{ 'has-error' : monFormPerformance.libelleField.$invalid && alertesPerformance}">
									<label for="libelleField" class="control-label">Libellé *</label>
									<input id="libelleField" name="libelleField" class="form-control" type="text" ng-model="itemAdd.libelle" placeholder="Libellé" required="true" />
									<div ng-if="monFormPerformance.libelleField.$invalid && alertesPerformance" ng-messages="monFormPerformance.libelleField.$error" class="alert alert-warning" role="alert">
										<p ng-message="required">Le libellé est obligatoire.</p>
									</div>
								</div>
								<div class="form-group" ng-class="{ 'has-error' : !monFormPerformance.actionList.$modelValue  && alertesPerformance}">
									<label for="actionList" class="control-label">Action *</label>
									<select id="actionList" name="actionList" class="form-control" size="1" ng-model="itemAdd.id_action" convert-to-number required="true">
										<option value="">Choisir une action...</option>
										<option ng-repeat="itemA in allActions" value="{{itemA.id}}">{{itemA.libelle}}</option>
									</select>
									<div ng-if="!monFormPerformance.actionList.$modelValue  && alertesPerformance" class="alert alert-warning" role="alert">
										<p>Aucune action n'est sélectionnée.</p>
									</div>
								</div>
								<div class="form-group" ng-class="{ 'has-error' : monFormPerformance.noteField.$invalid && alertesPerformance}">
									<label for="noteField" class="control-label">Note *</label>
									<input id="noteField" name="noteField" class="form-control" type="number" ng-model="itemAdd.note" placeholder="Note" required="true" min="1" max="5" />
									<div ng-if="monFormPerformance.noteField.$invalid && alertesPerformance" ng-messages="monFormPerformance.noteField.$error" class="alert alert-warning" role="alert">
										<p ng-message="min">La note doit être supérieure ou égale à 1.</p>
										<p ng-message="max">La note doit être inférieure ou égale à 5.</p>
										<p ng-message="required">La note est obligatoire.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8 col-sm-offset-2">
								<div class="btn-group btn-group-justified" role="group" aria-label="...">
									<div class="btn-group" role="group">
										<button type="submit" class="btn btn-primary">Enregistrer</button>
									</div>
									<div class="btn-group" role="group">
										<button type="button" ng-click="annuler()" class="btn btn-default">Annuler</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<hr style="margin-bottom: 20px"/>