<mon-header></mon-header>
<div class="container-fluid accueil">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-lg-3">
			<div class="panel panel-default panel-color0">
				<div class="panel-body">
					<p class="text-center"><img src="assets/images/logo.png" alt="" style="max-width:100%"/></p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-3" ng-if="!isLogged">
			<div class="panel panel-default panel-color0">
				<div class="panel-body">
					<h1 class="text-center"><span class="glyphicon glyphicon-off"></span></h1>
					<h2 class="text-center"><a class="btn btn-default btn-lg" href="#/login">Se connecter</a></h2>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-3">
			<div class="panel panel-default panel-color1">
				<div class="panel-body">
					<h1 class="text-center"><span class="glyphicon glyphicon-user"></span></h1>
					<h2 class="text-center">{{donneesService.dataSets.joueurListData.length}}<br>joueurs</h2>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-3">
			<div class="panel panel-default panel-color2">
				<div class="panel-body">
					<h1 class="text-center"><span class="glyphicon glyphicon-screenshot"></span></h1>
					<h2 class="text-center">{{donneesService.dataSets.positionListData.length}}<br>positions</h2>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-3">
			<div class="panel panel-default panel-color3">
				<div class="panel-body">
					<h1 class="text-center"><span class="glyphicon glyphicon-flash"></span></h1>
					<h2 class="text-center">{{donneesService.dataSets.actionListData.length}}<br>actions</h2>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-3">
			<div class="panel panel-default panel-color4">
				<div class="panel-body">
					<h1 class="text-center"><span class="glyphicon glyphicon-scale"></span></h1>
					<h2 class="text-center">{{donneesService.dataSets.performanceListData.length}}<br>performances</h2>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-3">
			<div class="panel panel-default panel-color5">
				<div class="panel-body">
					<h1 class="text-center"><span class="glyphicon glyphicon-tasks"></span></h1>
					<h2 class="text-center">{{donneesService.dataSets.resultatListData.length}}<br>résultats</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<mon-footer></mon-footer>