<mon-header></mon-header>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="panel panel-default"><div class="panel-heading">
				<filtre-select
					items="donneesService.dataSets.joueurListData"
					default-option="Sélection du joueur..."
					filter-property="joueurIds"
					total="donneesService.dataSets.joueurListData.length"
					chargement="loading">
				</filtre-select>
			</div></div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="panel panel-default"><div class="panel-heading">
			<filtre-select
				items="donneesService.dataSets.positionListData"
				default-option="Sélection de la position..."
				filter-property="positionIds"
				total="donneesService.dataSets.positionListData.length"
				chargement="loading">
			</filtre-select>
			</div></div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="panel panel-default"><div class="panel-heading">
			<filtre-select
				items="donneesService.dataSets.actionListData"
				default-option="Sélection de l'action..."
				filter-property="actionIds"
				total="donneesService.dataSets.actionListData.length"
				chargement="loading">
			</filtre-select>
			</div></div>
		</div>
		<div class="col-xs-12">
			<list-resultat items="donneesService.dataSets.resultatListData" joueur-selected="filterData.joueurIds" position-selected="filterData.positionIds" action-selected="filterData.actionIds" le-service="resultatService"></list-resultat>
		</div>
	</div>
</div>
<mon-footer></mon-footer>